.yee-upluoad-btn {
    border: 1px solid #e1e1e1;
    vertical-align: middle;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    padding: 0 10px 0 30px;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #2E2D3C;
    background-image: url("../images/cloud_upload.png");
    background-repeat: no-repeat;
    background-position: 5px center;
}

.yee-upfile-btn:hover {
    opacity: 0.8;
}

.yee-upload-image-layout {
    position: relative;
    display: inline-block;
}

.yee-upload-image-btn {
    background-image: url("../images/drive_upload.png");
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px #eee solid;
    float: left;
    display: inline-block;
}

.yee-upload-image-btn.yee-upload-eimg {
    background-image: none;
}

.yee-upload-image-delpic {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 14px;
    height: 14px;
    background-image: url("../images/pic_close.png");
}

.yee-upload-image-delpic:hover {
    background-position-x: -14px;
}

.yee-upload-item {
    border: 1px #eee solid;
    float: left;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 0px;
    position: relative;
}

.yee-upload-item img {
    vertical-align: middle;
}